body {margin-top:0px;
      font-size: 16px;
      font-family: 'Roboto', 'Arial', sans-serif;
      line-height: 1.1;
     }

h1 {font-weight: bold;
  font-family: 'Roboto', 'Arial', sans-serif;
  line-height: 1.1;
}

p {margin:0;
}

ul {margin:0;
  padding:0;
  list-style-type: none;
}

a {text-decoration:none;}

.header {
  min-height:950px;
}

h1,h2 {margin:0px;}

.container {
  position: relative;
  z-index: 10;
  width:1100px;

  margin-left:auto;
  margin-right: auto;
  }

  .header .bg {z-index: -1;
    position: absolute;
    background-image:  url('../img/3.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height:950px;

  }

  .bg-black
  {
    background-color: black;
    height:100%;
    opacity:0.2;
  }

.header-wrap {
margin-bottom:40px;

}

.logo {float:left;
  width:165px;
  height: 75px;
}

.logo:active {
  opacity:0.4;
}

.navigation {
margin-left:200px;
font-size:0px;
float:left;
margin-top:25px;
}

.navigation li {
display: inline-block;
font-size:16px;
  min-width:90px;
  margin-right: 20px;
  text-align: center;

}

.navigation a {
  font-size: 20px;
  line-height: 50px;
    color:white;
  font-weight: bold;
  padding:20px;
transition: 0.25s;
}

.navigation a:hover {
  background:#DCDCDC;
  border-radius: 15px;
  color:black;
}

.navigation a:active {
  color:#afafaf;
}


.title{
  color:#e5facf;
  font-family: 'Monotype Corsiva',cursive;
  text-align: center;
}
.title-description{
  color:#e5facf;
  font-family: 'Monotype Corsiva', cursive;
}

.navigation  .active {background:#DCDCDC;
opacity:0.5;
border-radius: 15px;
pointer-events: none;

position:relative;
}





.navigation li:hover {
  border-radius:5px;
}

.about-us {
  margin-right: 150px;
  width:390px;
  float: right;
  margin-top: 50px;
  font-size: 26px;

  line-height: 1.1;
}



.gallery img
{
margin-right:0px;
line-height: 0;
cursor: pointer;
}

.gallery img:hover
{border-radius: 10px;
  -webkit-transform: scale(2,2);
  -webkit-transition-timing-function: easy-out;
  -webkit-transition-duration: 350ms;
  -moz-transform: scale(2,2);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 350ms;
}



.gallery {
  border-bottom: 4px solid black;
margin-bottom: 30px;
}

.benefits {display: block;
  margin-bottom:20px;
  font-size:55px;
}

.pricelist-title {
  font-size: 40px;
    margin-bottom:40px;
    text-align: center;
    font-family: 'Monotype Corsiva', cursive;
    font-weight: 800;
     text-transform: uppercase;

}

.cell
{ width:50%;
  display: table-cell;
  padding-right: 10px;


}

.description.cell
{width:320px;
  font-size: 26px;
  font-weight: 600;
}

.price.cell
{width:300px;
  text-align: right;
  font-size:22px;

}

.description {
  width:auto;
}

.pricelist {
  width: 650px;
  margin-bottom:40px;
  margin-left: 250px;

}

.row
{
  margin-bottom: 25px;
}

.border
{background: black;
  height:1px;
  opacity:0.1;
margin-bottom: 25px;
}

.header-bottom .benefits-description {
  margin-bottom:30px;
}

a.button {
  display:block;
  text-align:center;
  width:350px;
  height:70px;
  background-color: #222 ;
  border-radius: 5px;
  color:white;
  line-height: 80px;
  width:350px;
  text-transform: uppercase;
  font-weight: bold;
  color:white;

}

a.button:hover {
  background:black;
  color:white;
  font-size: 20px;
  opacity:0.75;
}

a.button:active {
  background: black;
  opacity:1;
}

.main {padding-top: 30px;

 background: linear-gradient(to bottom left, black 10%, white 60% );
padding-bottom: 10px;
}

.gallery::before {content: '';
display: block;
background: transparent url('../img/5.png') no-repeat center center;

height: 50px;
width:1100px;
margin-bottom: 20px;}

 .title-gallery {
  text-align: center;
  margin-bottom: 20px;
  font-size: 46px;
  font-family: 'Monotype Corsiva', cursive;
  color:black;
}

.specific-text {
  float:left;
  width:500px;
  margin-right: 50px;
  min-height: 240px;
}

.specific-text h2 {
  font-size: 46px;
  font-family: 'Monotype Corsiva', cursive;
  text-align: center;
}

.specific-photo{
  float:right;
  width:550px;
  min-height: 240px;
}

.about-lashes
{text-indent: 15px;
line-height: 1.3;}

.photo
{
border-radius: 5px;
}

.specific {
  margin-bottom: 30px;
}

.services-main {
    float:left;
  width:350px;
  height:500px;
  margin-right:25px;
  background-color: #F0FFF0;
  box-shadow: 10px 10px 10px rgba(0,0,0, 0.5);
  border-radius: 6px;
  background: black url('../img/111.jpg') no-repeat center ;
background-size: cover;

}

.services-main.second
{background: black url('../img/12.png') no-repeat center  ;
background-size: cover;



}


.services-main  img
{
  border-radius: 5px;
}

.services-img {line-height: 0;
  margin-bottom:40px;}


.services {padding-bottom:60px;

}

.services-main:last-child {float:right;
  margin-right: 0px;
}

.services-name {display:block;
  font-size:24px;
  font-weight: bold;
margin-bottom:30px;
color:#e5facf;
margin-top: 160px;
}

.services-main .button {

}

.service-description {
  text-align: left;
  margin-bottom:180px;
  min-height: 35px;
  color:#e5facf;

}



.clearfix::after {content:"";
display: table;
  clear:both;}



a.green:hover {background-color:#00bc6c;}

a.green:active  {
    background:#00aa62;
  }




a.yellow:hover {background-color:#eab534;}

  .info {
  float:left;
  width:690px;
  min-height:400px;
}

a.yellow:active {
  background:#e5a722;
}


.info-title {display: block;
  font-size:45px;
  margin-bottom:20px;
}

.info-description {
  line-height: 24px;
margin-bottom:60px;}


  .can-be-ordered-title {display:block;
      line-height: 24px;
      text-transform: uppercase;
      margin-bottom: 20px;
  }

  .can-be-ordered{margin-left:40px;}


    .can-be-ordered li { color:#283136;
    margin-bottom:20px;
}

.our-guaranatee {
  float:right;
  width:360px;
  min-height:400px;
    }






  .our-customers {
    padding:50px 0;
    text-align: center;
    font-size:0px;

}

.customer  {
    display:inline-block;
    width:300px;
    height:100px;
    margin-right:50px;
    }



.social-big
{
  margin-bottom: 50px;
  padding: 0 50px;
  border-bottom: 1px solid black;
}

.social-big::before {content: '';
display: block;
background: transparent url('../img/5.png') no-repeat center;
height: 50px;
margin-bottom: 20px;}

.social-btn-big
{
  display: inline-block;
  font-size: 0;
  background: transparent url('../img/social2.png') no-repeat center;
  width:200px;
  height: 185px;
  margin-right: 195px;
  margin-bottom: 45px;
}

.social-btn-big:hover {
  background-color: black;
  border-radius: 50%;
  transform: rotate(360deg) scale(1.1);
  -webkit-transform: rotate(360deg) scale(1.1);
  transition: 0.5s;
  }

.social-btn-big:focus {
outline: none;
}

.social-btn-big:last-child {
  margin-right: 0px;
}

.vk-big {
  background-position: -260px -35px;
}

.whatsapp-big
{
  background-position: -37px -35px ;
}

.insta-big{
background-position: -33px -235px ;

}

.timetable {
  float:left;
font-size:16px;
  margin-left:100px;
padding-top:5px;
color:white;
line-height: 1.5;
}

.title-timetable {
  font-size: 22px;
  font-weight: bold;
}

.mobile, .popup-mobile { position: relative;
  color:white;
  padding-left:25px;
  font-size: 20px;
}


.mobile-logo, .popup-mobile-logo
{ position: absolute;
  background:  url('../img/mobile.png') no-repeat center;
  width:20px;
  height:20px;
background-size: cover;
top:5px;
left:0px;
}














footer { padding: 20px 0;
  background-color: black;
 }

.footer-info {width:500px;
  float:right;
  margin-left:130px;
  color:white;
}


.footer-info-title {
  font-size: 36px;
}

  .footer-info-description {
  color:#444444;
  }



 .header-title {font-size: 55px;
   text-align: center;
   font-weight: normal;
   margin:0;
  padding-bottom: 50px;
  padding-top:50px;
 }










  .examples {
    width:1100px;
    float:right;
    font-size:0px;
    outline: 1px solid black;
  }

  .web-sites:hover ::before {
    background:white url('../img/browserdark.jpg') no-repeat;
  }




   .web-sites {
     display: inline-block;
     font-size: 16px;
     height:615px;
     width:360px;
     margin-right:10px;
     vertical-align: top;
     margin-bottom:20px;
      outline: 1px solid black;
     background:#DCDCDC;
       }




.web-sites:last-child {margin-right:0px;}


.selected {
  position:relative;
}






.web-sites .buy {
  display:block;
  width: 80px;
  height: 20px;
  background:#fb565a;
padding: 15px 60px;
text-align: center;
margin-left:auto;
margin-right: auto;
border-radius: 5px;
color: white;}



.examples {margin-bottom:20px;}

 .pages {
   float:right;
   width:770px;
 height:100px;
margin-bottom: 20px;}

.pages li{display: inline-block;
  vertical-align: top;
  min-width:50px;
  height: 50px;
  background-color:#eeeeee;
  margin-right: 10px;
  text-align: center;
  border-radius: 5px;
  }


.pages a {
    color:black;
  line-height: 50px;
  font-weight: bold;
  padding:15px;
}

.pages span {
  line-height: 50px;
}

.pages .next {
  padding-left: 75px;
padding-right: 75px;}

.map {border: 2px solid black;
  box-shadow: 10px 10px 20px rgba(0,0,0, 0.5);
  margin-left: auto;
    margin-right: auto;
    border-radius: 5px;

    }


.title-map
{
  text-align: center;
  background-color: black;
  font-size: 22px;
  color:white;
}


.popup-contact {display: none ;
  position:fixed;
  left:50%;
  margin-left:-280px;
  top:275px;
  width:450px;
  height:350px;
  background: black url('../img/11.png') no-repeat center ;
  background-size: cover;
  padding: 75px 100px 85px;
  box-shadow: 0px 30px 50px rgba(0,0,0, 0.7);
  z-index: 999;
  border-radius: 10px;
  color:white;
  overflow: hidden;
  text-align: center;

  }

.popup-title {
  margin-top:60px;
}


.popup-contact-show {
  display:block;
  -webkit-animation: bounceInLeft 1.22s;
  animation: bounceInLeft 1.22s;
}



.popup-contact .timetable {
  font-size: 30px;
}

.popup-contact .title-timetable {

}

.popup-contact .mobile
{font-size: 30px;
  color:red;
  font-weight: bold;
  padding-left: 35px;
}

.popup-contact .mobile-logo
{
  width:30px;
  height:30px;
  top:8px;
  left:0px;


}

@-webkit-keyframes bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

  @keyframes bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}



.popup-contact-close {position:absolute;
    right:30px;
    top:40px;
    width:21px;
    height:21px;
    cursor:pointer;
  font-size: 0px;
  background:  url("../img/cross.png")  center;


}




.popup-contact h2 {
  margin-bottom: 5px;
  font-size: 45px;
}




.left-column {float:left;
width:354px;
margin-right: 10px;
}

.right-column {float:right;
width:354px;}

.top {
  margin-bottom: 35px;
}

.bottom textarea{
    margin-top:10px;
  resize: none;
  width:100%;
  min-height:115px;
  border:2px solid #d7dcde;
  border-radius:5px;
  padding:13px 13px;
    }

    .bottom {
      margin-bottom:47px;
    }

    .popup-form input[type="submit"]
    {background:#fb565a;
      color:white;
  height:50px;  }



.popup-form input[type="submit"]:hover {
  background:#e74246;
}

.popup-form input[type="submit"]:active {
  background:#d7373b;
}
